@CHARSET "utf-8";

*{
	margin: 0;
	padding: 0;
}


body {
	/*background-color: #edf6ff;*/
	background:-moz-linear-gradient(bottom,#c3cfdb,#ecf5fa); /* Firefox */
	background:-webkit-gradient(linear,left top,left bottom,from(#007dbd),to(#ecf5fa)); /* Chrome, Safari */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dbd',endColorstr='#ecf5fa'); /* Internet Explorer */
	font-family: Verdana, sans-serif;
	width: auto;
	height: 2000px; /* test-height */
}

#header_back {
	/*background-color: #007dbd;*/
	height: 100px;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	
}

#header_content {
	margin-top: 20px;
	height: 70px;
	width: 824px;
	/*border-style: solid;*/
	float: left;
	text-align: center;
}

#csu_logo {
	margin-left: 20px;
	margin-top: 20px;
	background:url(images/csu_mittelfranken_logo.png);
	background-repeat:no-repeat;
	background-size: 100%;
	width: 180px;
	height: 70px;
	float:left;
	/*border-style:solid;*/
}

#obb_logo {
	margin-left: 60px;
	background:url(images/obb-wappen.png);
	background-repeat:no-repeat;
	background-size: 100%;
	width: 90px;
	height: 120px;
	float:left;
}

#content_back {
	/*background-color: #edf6ff;*/
	height: auto;
	width: auto;
}

#container {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#content {
	/* draw border inside content division */
	-moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
	border-width: 2px;
	border-style: solid;
	border-color: #222255;
	background-color: #edf8ff;
	text-align: left;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	width: 824px;
	margin-left:200px;
	/*box-shadow: 2px 2px #445*/
}

#content_img {
	padding-left: 50px;
	padding-right: 50px;
	width: 200px;
	float:left;
}

#content_txt {
	width: 800px;
}

#content_clear {
	clear:left;
}

#content_img img
{
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

h1 {
	color: #0089cf;
	text-shadow: 1px 1px 2px #194260;
	font-size: 30pt;
	font-style: italic;
}

name {
	font-color: black;
	font-size: 16pt;
	font-style: italic;
	font-weight: bold;
}
