@CHARSET "utf-8";

#content {
	/* position behavior */
	position: relative;
	float: left;
	
	/* draw border inside content division */
	-moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    
	border-width: 3px;
	border-style: solid;
	border-color: #005c8a;
	
	background-color: #f6fcff;
	
	text-align: left;
	
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	
	width: 824px;
	height: auto;
	min-height: 700px;
	
	/*box-shadow: 2px 2px 3px #004c72;*/
	
	z-index: 2;
	
}

#content_txt {
	width: 800px;
}

#content_clear {
	clear:left;
	width: auto;
}

#content_img {
	padding-left: 50px;
	padding-right: 50px;
	width: 200px;
	float: left;
}

#content_img img
{
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

#contact_div {
	text-align: center;
}

#contact_div table {
	text-align: left;
	
	/* center table */
	margin-left: auto;
	margin-right: auto;
}

.member_image {
	border-width: 2px;
	border-style: solid;
	border-color: #005c8a;
	
	margin-right: 20px;
	
	float: left;
}

.homepage_image {
	float:left;
	
	width:150px;
	height:auto;
	
	margin-right: 20px; 
	margin-top: 10px; 
	margin-bottom: 20px; 
	
	border-width: 2px;
	border-style: solid;
	border-color: #005c8a;
}

.member_seperator {
	margin-top: 24px;
	margin-bottom: 24px;
	
	height: 1px;
	width: auto;
	
	background: #0089ce;
	opacity: 0.5;
	
	border-bottom: 1px solid #005c8a;	
}

#members_left {
	width: 180px;
	height: auto;
	float:left;
	
}

#members_right {
	width: auto;
	height: auto;
	
	float: left;
	position: relative;
	
}

/* is-a captcha protection for contact form */
.highlight {
	display:none;
}

.link_url {
	text-decoration: none;
	color: #00558f;
	font-weight: bold;
	font-size: 10pt;
}


.footer {
	text-align: right;
	font-weight: bold;
}

.right_bound {
	margin-top: 10px;
	float:none;
}

.float_right {
	float: right;
}

.left_bound {
	text-align: left;
}

.link_url_un_offset40 {
	text-decoration: underline;
	color: #00558f;
	font-weight: bold;
	margin-right: 40px;
}

.link_url_un {
	text-decoration: underline;
	color: #00558f;
	font-weight: bold;
}

.link_url_un_bright {
	text-decoration: underline;
	color: #0089cf;
	font-weight: bold;
}
