@CHARSET "utf-8";

h1 {
	color: #0089cf;
	text-shadow: 1px 1px 2px #194260;
	font-size: 36pt;
	font-style: italic;
}

name {
	color: #0089cf;
	font-size: 18pt;
	font-style: italic;
	font-weight: bold;
}

name a {
	color: #0089cf;
	text-decoration: none;
}

function {
	color: black;
	opacity: 0.7;
	font-size: 14pt;
	font-style: italic;
	font-weight: none;
}

info {
	font-color: black;
	font-size: 12pt;
	font-style: italic;
	font-weight: bold;
}

table, tr, td
{
	padding: 1px;
}

td
{
	width: 400px;
}

td.attr {
	color: #0089cf;
	width: 150px;
	font-weight: bold;
}

a.details {
	text-decoration: underline;
	
	font-style: italic;
	font-weight: bold;
	font-size: 13pt;
	
	color: #0089cf;
	
	
}
