@CHARSET "utf-8";

h1 {
	color: #0089cf;
	text-shadow: 1px 1px 2px #194260;
	font-size: 36pt;
	font-style: italic;
}

#div_center {
	text-align: center;
}

headline {
	font-size: 20pt;
	font-style: italic;
	font-weight: bold;
	
	color: #0089cf;
}

name {
	color: #0089cf;
	
	font-size: 18pt;
	font-style: italic;
	font-weight: bold;
}

name a {
	color: #0089cf;
	text-decoration: none;
}

function {
	color: black;
	opacity: 0.7;
	font-size: 14pt;
	font-style: italic;
	font-weight: none;
}

info {
	font-color: black;
	font-size: 12pt;
	font-style: italic;
	font-weight: bold;
}

#members_right table, tr, td
{
	padding: 1px;
}

#members_right td
{
	width: 400px;
}

#members_right td.attr {
	color: #0089cf;
	width: 150px;
	font-weight: bold;
}

#members_right a.details {
	text-decoration: underline;
	
	font-style: italic;
	font-weight: bold;
	font-size: 13pt;
	
	color: #0089cf;
}

table.contact {
	border-spacing: 12px;
}

table.contact td {
	vertical-align: top;
}

table.contact td input {
	height: 20px;
	width: 240px;
	
	background-color: #d9eaf3;
	
	border-style: solid;
	border-width: 1px;
	border-color: #9ab8d3;
}

table.contact td input[type="text"]:focus {
	background-color: #f6fcff;
}

table.contact td input[type="submit"] {
	box-shadow: inset -3px -3px 4px #004c72;
	
	width: 240px;
	height: 30px;
	
	background-color: #3b99c8;
	
	font-weight: bold;
	color: white;
	
	cursor: pointer;
	
	border-style: solid;
	border-width: 1px;
	border-color: #2c799f;
}

table.contact td input[type="submit"]:focus {
	background-color: #f6fcff;
	color: black;	
}

table.contact td input[type="submit"]:active {
	background-color: #f6fcff;
	color: black;
	
	box-shadow: inset 3px 3px 4px #004c72;
	
	border-width: 1px;
}

table.contact td label {
	font-style: italic;
	font-weight: bold;
	
	display: block;
	
	width: 150px;
	
	opacity: 0.7;
}

table.contact td textarea {
	width: 240px;
	
	background-color: #d9eaf3;
	
	border-color: #9ab8d3;
	border-style: solid;
	border-width: 1px;
}

table.contact td.missing input{
	background-color: #ff9999;
	border-color: #772222;
}

table.contact td.missing label{
	color: #772222;
}

table.contact td.missing textarea{
	background-color: #ff9999;
	border-color: #772222;
}

table.contact td textarea:focus {
	background-color: #f6fcff;
}
