@CHARSET "utf-8";

h1 {
	color: #0089cf;
	text-shadow: 1px 1px 2px #194260;
	font-size: 36pt;
	font-style: italic;
}

name {
	color: #0089cf;
	font-size: 18pt;
	font-style: italic;
	font-weight: bold;
}

function {
	color: black;
	opacity: 0.75;
	font-size: 14pt;
	font-style: italic;
	font-weight: none;
}

info {
	font-color: black;
	font-size: 12pt;
	font-style: italic;
	font-weight: bold;
}