@CHARSET "utf-8";

*{
	margin: 0;
	padding: 0;
}


html, body {
	/*background-color: #edf6ff;*/
	

	font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: auto;
	font-size: 11pt;
	
	min-height: 100%; 
	height: auto !important;
	
	margin:0; 
	padding:0;
	
    background: url(../images/background.gif) fixed;
    background-size: cover;
	background-repeat:no-repeat !important;
	
	
}

/* describes width of the whole wep-page content*/
#container {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#left_section {
	position: relative;
	float: left;
	width: 200px;
	height: auto;
}

#right_section {
	position: relative;
	float: left;
	width: 824px;
	height: auto;
}
